<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2014 Stormpath, Inc. and contributors
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
-->
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.2.xsd" >

    <beans:import resource="spring/appServlet/servlet-context.xml" />
    <!--<beans:import resource="spring/appServlet/stormpath-servlet-context.xml" />-->


    <!-- When mapping to domain-specific role names (ie. using GroupRoleGrantedAuthorityResolver) -->
    <!-- beans:bean id="groupRoleGrantedAuthoritiesMap" class="java.util.HashMap" scope="prototype" >
        <beans:constructor-arg>
            <beans:map key-type="java.lang.String" value-type="java.util.List">
                <beans:entry key="https://api.stormpath.com/v1/groups/d8UDkz9QPcn2z73j93m6Z">
                    <beans:list>
                        <beans:value>ROLE_A</beans:value>
                        <beans:value>ROLE_C</beans:value>
                    </beans:list>
                </beans:entry>
                <beans:entry key="https://api.stormpath.com/v1/groups/43aaJz0rP441d14jp2M5q" value="ROLE_USER" />
                <beans:entry key="https://api.stormpath.com/v1/groups/EtUD123lPaN0yitjplmiR" value="ROLE_ADMIN" />
            </beans:map>
        </beans:constructor-arg>
    </beans:bean -->

    <!-- When mapping to domain-specific role names -->
    <!-- beans:bean id="groupGrantedAuthorityResolver" class="com.stormpath.spring.security.example.mapping.GroupRoleGrantedAuthorityResolver" >
        <beans:constructor-arg ref="groupRoleGrantedAuthoritiesMap" />
    </beans:bean -->

    <beans:bean id="authenticationProvider" class="com.stormpath.spring.security.provider.StormpathAuthenticationProvider">
        <beans:property name="client" ref="stormpathClient" />
        <!--<beans:property name="applicationRestUrl" value="REPLACE_ME_WITH_YOUR_STORMPATH_APP_REST_URL"/>-->
        <beans:property name="applicationRestUrl" value="https://api.stormpath.com/v1/applications/3TqbyZ1qo74eDM4gTo2H94"/>
        <!-- When mapping to domain-specific role names (ie. using GroupRoleGrantedAuthorityResolver) -->
        <!-- beans:property name="groupGrantedAuthorityResolver" ref="groupGrantedAuthorityResolver" / -->
    </beans:bean>

    <http auto-config='true' use-expressions="true" >
        <!--<intercept-url pattern="/account/*" access="hasRole('REPLACE_ME_WITH_YOUR_STORMPATH_GROUP_ALLOWED_TO_ACCESS_THIS_SECURED_RESOURCE')" />-->
        <form-login default-target-url='/index.jsp' always-use-default-target='true' />
        <intercept-url pattern="/account/*" access="hasRole('https://api.stormpath.com/v1/groups/3IfENtknN1XPzBrD3FIZ1A')" />
        <!--<logout logout-url="/logout" logout-success-url="/index.jsp"/>-->
        <logout logout-success-url="/index.jsp"/>
    </http>

    <authentication-manager>
        <authentication-provider ref='authenticationProvider'/>
    </authentication-manager>

    <global-method-security pre-post-annotations="enabled" secured-annotations="enabled">
        <expression-handler ref="methodExpressionHandler"/>
    </global-method-security>

</beans:beans>